In [1]:
import pandas as pd
import numpy as np
holiday=pd.read_csv("D:\\dataAcademy\\holiday.csv")
holiday.head()

   Destinations  Rating  Hotel stars  All inclusive hotels     Cities
0        Turkey     7.0            3                   613   Istanbul
1           UAE     4.0            4                   113      Dubai
2  South Africa     9.0            2                  2186  Cape Town
3        France     5.0            3                  2586       Nice
4      Pakistan    10.0            4                  2968     Lahore

How many rows and columns are there in your file?

In [9]:
#holiday.shape[0]
holiday.info()
holiday.count()
#holiday.size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Destinations          15 non-null     object
 1   Rating                15 non-null     float64
 2   Hotel stars           15 non-null     int64
 3   All inclusive hotels  15 non-null     int64
 4   Cities                15 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 728.0+ bytes

Destinations            15
Rating                  15
Hotel stars             15
All inclusive hotels    15
Cities                  15
dtype: int64

Print row 3-8 ( using iloc/loc).

In [10]:
holiday.iloc[3:8]

  Destinations  Rating  Hotel stars  All inclusive hotels     Cities
3       France     5.0            3                  2586       Nice
4     Pakistan    10.0            4                  2968     Lahore
5        Spain     4.0            4                   846  Barcelona
6       Greece     1.0            1                   700  Santorini
7      Austria     8.5            5                   578     Vienna

Find the mean number of all-inclusive hotels across all destinations.

In [16]:
allnumber=holiday.mean()
print(allnumber)
specific= holiday["All inclusive hotels"].mean()
print ("the maean is", +specific)

Rating                     6.033333
Hotel stars                3.400000
All inclusive hotels    1353.333333
dtype: float64
the maean is 1353.3333333333333

C:\Users\a\AppData\Local\Temp\ipykernel_12876\2310969235.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  allnumber=holiday.mean()

Find the lowest scoring destination.
Find the highest scoring destination

In [23]:
min=holiday["Rating"].min()
max=holiday["Rating"].max()
print(f"the minimum is {min:.2f} while the maximum is {max:.2f}")

the minimum is 1.00 while the maximum is 10.00

Find all the destinations where there are more than 9 all-inclusive hotels.

In [28]:
holiday[holiday["All inclusive hotels"]>9]

      Destinations  Rating  Hotel stars  All inclusive hotels      Cities
0           Turkey     7.0            3                   613    Istanbul
1              UAE     4.0            4                   113       Dubai
2     South Africa     9.0            2                  2186   Cape Town
3           France     5.0            3                  2586        Nice
4         Pakistan    10.0            4                  2968      Lahore
5            Spain     4.0            4                   846   Barcelona
6           Greece     1.0            1                   700   Santorini
7          Austria     8.5            5                   578      Vienna
8            India     9.0            4                  3000   New Delhi
9            Japan     5.0            5                  1393       Tokyo
10  Czech Republic     4.5            4                    60      Prague
11     Netherlands     3.0            3                    90   Amsterdam
12   United States     2.5            4                  5000    New York
13         Hungary     8.0            2                   117    Budapest
14  United Kingdom    10.0            3                    50  Birmingham

Filter the data by score above 8.

In [31]:
score=holiday[holiday["Rating"]> 8]
print(score)
# if you do just, it prints out boolean
test=holiday["Rating"]> 8
print(test)

      Destinations  Rating  Hotel stars  All inclusive hotels      Cities
2     South Africa     9.0            2                  2186   Cape Town
4         Pakistan    10.0            4                  2968      Lahore
7          Austria     8.5            5                   578      Vienna
8            India     9.0            4                  3000   New Delhi
14  United Kingdom    10.0            3                    50  Birmingham
0     False
1     False
2      True
3     False
4      True
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14     True
Name: Rating, dtype: bool

Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)

In [32]:
low=holiday[holiday["Rating"]< 2]
print(low)

  Destinations  Rating  Hotel stars  All inclusive hotels     Cities
6       Greece     1.0            1                   700  Santorini

Is there a correlation between number of all-inclusive hotels and score?

In [34]:
corre= holiday["All inclusive hotels"].corr(holiday["Rating"])
print(corre)

0.03279588561612654

Create a data visualisation diagram to show destination and highest scores?